html
    head
    body
        h1
            a(href="/") StrategicBanking
        div(class="sidebar")
            a(href="/customer") Home
            a(href="/customer/accounts") Accounts
            a(href="/customer/loans") Loans
            a(href="/logout") Log out
        p Your accounts:
        | !{acctTable}
