html
    head
        link(rel="stylesheet" href="/stylesheet.css")
    body
        h1
            a(href="/") StrategicBanking
        a(href="/login") User login
        br
        a(href="/manager") Manager login
