html
    head
    body
        h1
            a(href="/") StrategicBanking
        div(class="sidebar")
            a(href="/manager") Home
            a(href="/manager/accounts") Accounts
            a(href="/manager/loans") Loans
            a(href="/manager/fedfunds") Federal Funds
            a(href="/manager/rates") Interest rates
